div#pair_list.columns.is-multiline
  - @all_currency_pairs.each do |item|
    div.column.is-half
      input id="rdo_#{item.name}" name="rdo_pair" type="radio" pairname="#{item.name}" value=item.id class="rdo" onchange="rdoPairChange(this)"
        label for="rdo_#{item.name}" =item.name
div.container
  div.columns style="margin-top: 0px;"
    div.column.is-half style="padding: 0px 0.5em"
      select value="5m" onchange="changeType(this)" class="input"
        option value="5m"
          | 5m
        option value="15m"
          | 15m
        option value="30m"
          | 30m
        option value="2h"
          | 2h
        option value="4h"
          | 4h
        option value="1d"
          | 1d
    div.column.is-half style="padding: 0px 0.5em"
      select value="#{@base_unit}" onchange="changeBaseUnit(this)" class="input"
        option value="USDT"
          | USDT
        option value="BTC"
          | BTC
        option value="ETH"
          | ETH
        option value="XMR"
          | XMR
  div.panel
    div.panel-heading
      | Chart
    div.panel-block      
      div id='chart' style="width:100%;"

javascript:
  // create the chart

  var token = document.querySelector("[name='csrf-token']").content;
  axios.defaults.headers.common['X-CSRF-Token'] = token;

  var chart_type = '5m';
  var pairs = #{@currency_pairs.to_json.html_safe};
  var base_unit = '#{@base_unit}';
  var decimal = 3;
  var chart = null;
  var current_pair = null;

  var createChart = function(data, pair){  
    return Highcharts.stockChart('chart', {
      rangeSelector: getRangeSelector(chart_type),

      title: {
          text: chart_type + ' ' + pair.name
      },
      yAxis: [{
        title: {
          text: 'Volume'
        },
        //height: 200,
        lineWidth: 2,
        opposite: false        
      },
      {
        title: {
          text: ''
        },
        height: 300,
        gridLineWidth: 0
      }],
      tooltip: {
        valueDecimals: decimal,
        //xDateFormat: 'Y'
      },

      series: [{
        type: 'column',
        name: 'Volume',
        data: data.volume_data,
        yAxis: 0,
        color: '#DDA'
      },{
        type: 'candlestick',
        name: 'candle',
        data: data.candle_data,
        yAxis: 1
      }],
      chart: {
        events: {
          render: function(e){
            drawMinMaxLines(e.target, pair);
          }
        },
        height: 500
      },
    });
  }
 
  var changeType = function(obj){
    chart_type = obj.value;

    load_charts(current_pair);
  }

  var rdoPairChange = function(obj){
    current_pair = {
      id: obj.value,
      name: $(obj).attr('pairname')
    };

    load_charts(current_pair);
  }

  var load_charts = function(pair){
    var url = get_url();
    axios.get(url , {params: { pair_id: pair.id }}).then(function (res){
      if(chart != null)
        chart.destroy();

      chart = createChart(res.data, pair)
    });
  }

  var drawMinMaxLines = function(chart, pair){    
    axix = chart.yAxis[1];
    min_value = axix.dataMin;
    max_value = axix.dataMax;
    plot_min_id = 'plot_min_' + pair.name;
    plot_max_id = 'plot_max_' + pair.name;

    axix.removePlotLine(plot_min_id);
    axix.removePlotLine(plot_max_id);

    axix.addPlotLine({
      value: min_value,
      width: 1,
      color: 'red',
      dashStyle: 'longdashdot',              
      id: plot_min_id
    });

    axix.addPlotLine({
      value: max_value,
      width: 1,
      color: 'red',
      dashStyle: 'longdashdot',              
      id: plot_max_id
    });
  }

  var changeBaseUnit = function(obj){
    document.location = "/poloniex/analysis?base_unit=" + obj.value
  }

  var getRangeSelector = function(chart_type){
    switch(chart_type){
      case '5m':
        return {
            selected: 1,
            buttons: [{
            type: 'hour',
            count: 12,
            text: '12h'
          }, {
            type: 'hour',
            count: 24,
            text: '24h'
          }, {
            type: 'hour',
            count: 48,
            text: '48h'
          },{
            type: 'all',
            text: 'All'
          }]
        };
        break;
      case '15m':
        return {
            selected: 1,
            buttons: [{
            type: 'day',
            count: 1,
            text: '1d'
          }, {
            type: 'day',
            count: 3,
            text: '3d'
          }, {
            type: 'day',
            count: 7,
            text: '7d'
          },{
            type: 'all',
            text: 'All'
          }]
        }
        break;
      case '30m':
        return {
            selected: 1,
            buttons: [{
            type: 'day',
            count: 3,
            text: '3d'
          }, {
            type: 'day',
            count: 7,
            text: '7d'
          }, {
            type: 'day',
            count: 14,
            text: '14d'
          },{
            type: 'all',
            text: 'All'
          }]
        }
        break;
      case '2h':
        return {
            selected: 1,
            buttons: [{
            type: 'day',
            count: 7,
            text: '7d'
          }, {
            type: 'day',
            count: 15,
            text: '15d'
          }, {
            type: 'day',
            count: 30,
            text: '30d'
          },{
            type: 'all',
            text: 'All'
          }]
        };
        break;
      case '4h':
        return {
            selected: 1,
            buttons: [{
            type: 'day',
            count: 14,
            text: '14d'
          }, {
            type: 'day',
            count: 30,
            text: '30d'
          }, {
            type: 'day',
            count: 60,
            text: '60d'
          },{
            type: 'all',
            text: 'All'
          }]
        }
        break;
      case '1d':
        return {
            selected: 1,
            buttons: [{
            type: 'month',
            count: 2,
            text: '2M'
          }, {
            type: 'month',
            count: 4,
            text: '4M'
          }, {
            type: 'month',
            count: 6,
            text: '6M'
          },{
            type: 'all',
            text: 'All'
          }]
        }
        break;
    }
  }

  var get_url = function(){
    switch(chart_type){
      case '5m':
        return '/ajax/chartso/get_5m';
        break;
      case '15m':
        return '/ajax/chartso/get_15m';
        break;
      case '30m':
        return '/ajax/chartso/get_30m';
        break;
      case '2h':
        return '/ajax/chartso/get_2h';
        break;
      case '4h':
        return '/ajax/chartso/get_4h';
        break;
      case '1d':
        return '/ajax/chartso/get_1d';
        break;
    }
  }

  $(function(){

    if(base_unit == 'BTC'){
      decimal = 8;
    }

    $('option[value="' + base_unit + '"]')[0].selected = "selected"
    $($('[name="rdo_pair"]')[0]).trigger( "click" );

    // load_charts(current_pair);
    /*
    setInterval(function(){ load_charts() }, 300 * 1000);

    for(var i=0; i<pairs.length; i++){
      var cbxs = $("#cbx_" + pairs[i].name);
      if(cbxs.length > 0)
        cbxs[0].checked = "checked";
    } 
    */   
  });

