div.container
  = select_tag "currency_pairs", options_from_collection_for_select(@currency_pairs, "id", "name", @pair), class: 'input', onChange: 'currency_pair_changed(this)'
  div.panel
    div.panel-heading
      | Chart 5m
    div.panel-block      
      div#myChart style="width:100%;"

javascript:
  // create the chart

  var token = document.querySelector("[name='csrf-token']").content;
  axios.defaults.headers.common['X-CSRF-Token'] = token;

  var createChart5m = function(data){
    Highcharts.stockChart('myChart', {
      rangeSelector: {
          selected: 1,
          buttons: [{
          type: 'hour',
          count: 12,
          text: '12h'
        }, {
          type: 'hour',
          count: 24,
          text: '24h'
        }, {
          type: 'hour',
          count: 48,
          text: '48h'
        },{
          type: 'all',
          text: 'All'
        }]
      },

      title: {
          text: 'Chart 5m'
      },

      tooltip: {
        valueDecimals: 3,
        xDateFormat: 'Y'
      },

      series: [{
        type: 'candlestick',
        name: '5m candle',
        data: data,
        /*
        dataGrouping: {
            units: [
                [
                  'week', // unit name
                  [1] // allowed multiples
                ], [
                  'month',
                  [1, 2, 3, 4, 6]
                ]
            ]
        }*/
       }
      ]
    });
  }

  var currency_pair_changed = function(item){
    refresh_charts(item.value);
  }

  var refresh_charts = function(pair_id){
    axios.get('/ajax/charts', {params: { pair_id: pair_id }}).then(function (res){
      createChart5m(res.data)
    });
  }

  $(function(){

    refresh_charts();

    /*
    var data = [[1496275200000,38.58,38.61,37.97,38.10],
      [1496275260000,38.13,38.54,37.79,38.33],
      [1496275320000,37.73,37.77,36.33,36.60],
      [1496275380000,36.67,36.85,35.72,35.93],
      [1496275440000,36.33,36.40,34.75,35.50],
      [1496275500000,35.78,35.85,34.74,35.28],
      [1496275560000,35.86,36.11,35.17,35.52],
      [1496275620000,35.78,36.97,35.68,36.95],
      [1496275680000,37.50,37.56,36.41,36.87],
      [1496275740000,36.70,37.13,36.45,37.09],
      [1496275800000,36.93,37.41,36.41,36.76],
      [1496275860000,36.62,36.63,35.20,35.97],
      [1496275920000,35.63,36.54,35.57,36.10],
      [1496275980000,35.46,36.71,35.33,35.92],
      [1496276040000,36.17,36.42,35.49,35.70],
      [1496276100000,35.70,35.70,34.23,35.08],
      [1496276160000,34.70,36.13,34.29,35.98]];
      */
  
  });

