div.container
  div.columns style="margin-top: 0px;"
    div.column.is-half style="padding: 0px 0.5em"
      select value="5m" onchange="changeType(this)" class="input"
        option value="5m"
          | 5m
        option value="15m"
          | 15m
        option value="30m"
          | 30m
        option value="2h"
          | 2h
        option value="4h"
          | 4h
        option value="1d"
          | 1d
    div.column.is-half style="padding: 0px 0.5em"
      select value="#{@base_unit}" onchange="changeBaseUnit(this)" class="input"
        option value="USDT"
          | USDT
        option value="BTC"
          | BTC
  div.panel
    div.panel-heading
      | Pair
    - @currency_pairs.each do |item|
      div.panel-block      
        div id=item.name style="width:100%;"

javascript:
  // create the chart

  var token = document.querySelector("[name='csrf-token']").content;
  axios.defaults.headers.common['X-CSRF-Token'] = token;

  var chart_type = '5m';
  var pairs = #{@currency_pairs.to_json.html_safe};
  var base_unit = '#{@base_unit}';
  var decimal = 3;

  var createChart5m = function(data, pair){
    Highcharts.stockChart(pair.name, {
      rangeSelector: {
          selected: 1,
          buttons: [{
          type: 'hour',
          count: 12,
          text: '12h'
        }, {
          type: 'hour',
          count: 24,
          text: '24h'
        }, {
          type: 'hour',
          count: 48,
          text: '48h'
        },{
          type: 'all',
          text: 'All'
        }]
      },

      title: {
          text: '5m ' + pair.name
      },

      tooltip: {
        valueDecimals: decimal,
        xDateFormat: 'Y'
      },

      series: [{
        type: 'candlestick',
        name: '5m candle',
        data: data,
      }],
      chart: {
        events: {
          render: function(e){
            drawMinMaxLines(e.target, pair);
          }
        }
      },
      /*
      yAxis: {
        plotLines: [{
          color: 'red', 
          dashStyle: 'longdashdot', // Default to solid
          value: 41, 
          width: 1
        }]
      }
      */
    });
  }

  var createChart15m = function(data, pair){
    Highcharts.stockChart(pair.name, {
      rangeSelector: {
          selected: 1,
          buttons: [{
          type: 'day',
          count: 1,
          text: '1d'
        }, {
          type: 'day',
          count: 3,
          text: '3d'
        }, {
          type: 'day',
          count: 7,
          text: '7d'
        },{
          type: 'all',
          text: 'All'
        }]
      },

      title: {
          text: '15m ' + pair.name
      },

      tooltip: {
        valueDecimals: decimal,
        xDateFormat: 'Y'
      },

      series: [{
        type: 'candlestick',
        name: '15m candle',
        data: data,
      }],
      chart: {
        events: {
          render: function(e){
            drawMinMaxLines(e.target, pair);
          }
        }
      },
    });
  }

  var createChart30m = function(data, pair){
    Highcharts.stockChart(pair.name, {
      rangeSelector: {
          selected: 1,
          buttons: [{
          type: 'day',
          count: 3,
          text: '3d'
        }, {
          type: 'day',
          count: 7,
          text: '7d'
        }, {
          type: 'day',
          count: 14,
          text: '14d'
        },{
          type: 'all',
          text: 'All'
        }]
      },

      title: {
          text: '30m ' + pair.name
      },

      tooltip: {
        valueDecimals: decimal,
        xDateFormat: 'Y'
      },

      series: [{
        type: 'candlestick',
        name: '30m candle',
        data: data,
      }],
      chart: {
        events: {
          render: function(e){
            drawMinMaxLines(e.target, pair);
          }
        }
      },
    });
  }

  var createChart2h = function(data, pair){
    Highcharts.stockChart(pair.name, {
      rangeSelector: {
          selected: 1,
          buttons: [{
          type: 'day',
          count: 7,
          text: '7d'
        }, {
          type: 'day',
          count: 15,
          text: '15d'
        }, {
          type: 'day',
          count: 30,
          text: '30d'
        },{
          type: 'all',
          text: 'All'
        }]
      },

      title: {
          text: '2h ' + pair.name
      },

      tooltip: {
        valueDecimals: decimal,
        xDateFormat: 'Y'
      },

      series: [{
        type: 'candlestick',
        name: '2h candle',
        data: data,
      }],
      chart: {
        events: {
          render: function(e){
            drawMinMaxLines(e.target, pair);
          }
        }
      },
    });
  }

  var createChart4h = function(data, pair){
    Highcharts.stockChart(pair.name, {
      rangeSelector: {
          selected: 1,
          buttons: [{
          type: 'day',
          count: 14,
          text: '14d'
        }, {
          type: 'day',
          count: 30,
          text: '30d'
        }, {
          type: 'day',
          count: 60,
          text: '60d'
        },{
          type: 'all',
          text: 'All'
        }]
      },

      title: {
          text: '4h ' + pair.name
      },

      tooltip: {
        valueDecimals: decimal,
        xDateFormat: 'Y'
      },

      series: [{
        type: 'candlestick',
        name: '4h candle',
        data: data,
      }],
      chart: {
        events: {
          render: function(e){
            drawMinMaxLines(e.target, pair);
          }
        }
      },
    });
  }

  var createChart1d = function(data, pair){
    Highcharts.stockChart(pair.name, {
      rangeSelector: {
          selected: 1,
          buttons: [{
          type: 'month',
          count: 2,
          text: '2M'
        }, {
          type: 'month',
          count: 4,
          text: '4M'
        }, {
          type: 'month',
          count: 6,
          text: '6M'
        },{
          type: 'all',
          text: 'All'
        }]
      },

      title: {
          text: '1d ' + pair.name
      },

      tooltip: {
        valueDecimals: decimal,
        xDateFormat: 'Y'
      },

      series: [{
        type: 'candlestick',
        name: '1d candle',
        data: data,
      }],
      chart: {
        events: {
          render: function(e){
            drawMinMaxLines(e.target, pair);
          }
        }
      },
    });
  }

  var changeType = function(obj){
    chart_type = obj.value;

    load_charts();
  }

  var changeBaseUnit = function(obj){
    document.location = "/poloniex/compare_chart?base_unit=" + obj.value
  }

  var refresh_charts = function(pair){
    switch(chart_type){
      case '5m':
        axios.get('/ajax/charts/get_5m', {params: { pair_id: pair.id }}).then(function (res){
          createChart5m(res.data, pair)
        });
        break;
      case '15m':
        axios.get('/ajax/charts/get_15m', {params: { pair_id: pair.id }}).then(function (res){
          createChart15m(res.data, pair)
        });
        break;
      case '30m':
        axios.get('/ajax/charts/get_30m', {params: { pair_id: pair.id }}).then(function (res){
          createChart30m(res.data, pair)
        });
        break;
      case '2h':
        axios.get('/ajax/charts/get_2h', {params: { pair_id: pair.id }}).then(function (res){
          createChart2h(res.data, pair)
        });
        break;
      case '4h':
        axios.get('/ajax/charts/get_4h', {params: { pair_id: pair.id }}).then(function (res){
          createChart4h(res.data, pair)
        });
        break;
      case '1d':
        axios.get('/ajax/charts/get_1d', {params: { pair_id: pair.id }}).then(function (res){
          createChart1d(res.data, pair)
        });
        break;
    }
  }

  var load_charts = function(){
    for(var i=0; i<pairs.length; i++){
      setTimeout(refresh_charts, i * 1000, pairs[i]);
    }
  }

  var drawMinMaxLines = function(chart, pair){
    axix = chart.yAxis[0];
    min_value = axix.dataMin;
    max_value = axix.dataMax;
    plot_min_id = 'plot_min_' + pair.name;
    plot_max_id = 'plot_max_' + pair.name;

    axix.removePlotLine(plot_min_id);
    axix.removePlotLine(plot_max_id);

    axix.addPlotLine({
      value: min_value,
      width: 1,
      color: 'red',
      dashStyle: 'longdashdot',              
      id: plot_min_id
    });

    axix.addPlotLine({
      value: max_value,
      width: 1,
      color: 'red',
      dashStyle: 'longdashdot',              
      id: plot_max_id
    });
  }

  $(function(){

    if(base_unit == 'BTC'){
      decimal = 8;
    }

    $('option[value="' + base_unit + '"]')[0].selected = "selected"

    load_charts();
    setInterval(function(){ load_charts() }, 300 * 1000);
  });

