/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

[v-cloak] {display: none}

#top-menu {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;  
}

#main-content {
	margin-top: 25px;
}

#topic-list {
	position: fixed;
  width: 300px;
  overflow-y: auto;
  height: 92vh;
}

#topic-detail {
	position: relative;
}

img.selected {
  border: 5px solid #22c65b;
}

#section-title {
	position: fixed;
  width: 240px;
  top: 125px;
  right: 30px;
  border: 1px solid #dbdbdb;
  padding: 10px;
  background-color: white;
}

.CodeMirror {
	height: calc(100vh - 310px);
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding-top: 16px;
  padding-left: 16px;
  background-color: #000000;
}


/* Edit bulma */
.menu-list {
  line-height: 1;
}

.menu {
    font-size: 0.9rem;
}

.menu-list li ul {
  padding-left: 0.5em;
}

#orders table td {
  text-align: right;
}