/*
*= require bulma
*= require font-awesome.min
*/

[v-cloak] {display: none}

#top-menu {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;  
}

#main-content {
	margin-top: 25px;
}

#topic-list {
	position: fixed;
  width: 300px;
  overflow-y: auto;
  height: 92vh;
}

#topic-detail {
	position: relative;
}

img.selected {
  border: 5px solid #22c65b;
}

#section-title {
	position: fixed;
  width: 240px;
  top: 125px;
  right: 30px;
  border: 1px solid #dbdbdb;
  padding: 10px;
  background-color: white;
}

.CodeMirror {
	height: calc(100vh - 310px);
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding-top: 16px;
  padding-left: 16px;
  background-color: #000000;
}


/* Edit bulma */
.menu-list {
  line-height: 1;
}

.menu {
    font-size: 0.9rem;
}

.menu-list li ul {
  padding-left: 0.5em;
}

#orders table td {
  text-align: right;
}

#top-menu a {
  margin: 10px;
}

/* For table */
table.scroll thead {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

table.scroll thead tr {
  width: 97%;
}

table.scroll thead th {
  border-width: 0px 0px 1px;
  color: #363636;
}

table.scroll tbody {
  width: 100%;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

table.scroll thead, .scroll tbody, .scroll tr, .scroll td, .scroll th {
  display: block;
}

table.scroll tbody td, table.scroll thead > tr> th {
  float: left;
}

#poloniex table td {
  font-size: 0.9rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

#poloniex .table{
  margin-bottom: 0px;
}

/*#poloniex .table td:nth-child(8n + 1){
  background-color:#fafafa;
}*/

#poloniex .table td .hand{
  cursor: pointer;
}

.clear {
  clear: both;
}

#poloniex .table tr.trading {
  font-weight: bold;
  color: green;
}

#pair_list{
  position: fixed;
  width: 210px;
  font-size: 0.9em;
  left: 20px;
}

#pair_list .column{
  padding: 0.2em 0.2em;
}

#pair_list .cbx{
  margin-right: 3px;
}

#poloniex .panel:not(:last-child) {
  margin-bottom: 0rem;
}

#poloniex .warn {
  color: #00d1b2;
  font-weight: bold;
}

#pair_note {
  position: fixed;
  width: 260px;
  height: 300px;
  font-size: 0.9em;
  right: 10px;
}

tr.selected{
  background-color: bisque;
}

td.right{
  text-align: right;
}

tr.sell{
  background-color: honeydew
}