/*
*= require bulma
*= require font-awesome.min
*/

[v-cloak] {display: none}

#top-menu {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;  
}

#main-content {
	margin-top: 25px;
}

#topic-list {
	position: fixed;
  width: 300px;
  overflow-y: auto;
  height: 92vh;
}

#topic-detail {
	position: relative;
}

img.selected {
  border: 5px solid #22c65b;
}

#section-title {
	position: fixed;
  width: 240px;
  top: 125px;
  right: 30px;
  border: 1px solid #dbdbdb;
  padding: 10px;
  background-color: white;
}

.CodeMirror {
	height: calc(100vh - 310px);
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding-top: 16px;
  padding-left: 16px;
  background-color: #000000;
}


/* Edit bulma */
.menu-list {
  line-height: 1;
}

.menu {
    font-size: 0.9rem;
}

.menu-list li ul {
  padding-left: 0.5em;
}

#orders table td {
  text-align: right;
}

#top-menu a {
  margin: 10px;
}

/* For table */
table.scroll thead {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

table.scroll thead tr {
  width: 97%;
}

table.scroll thead th {
  border-width: 0px 0px 1px;
  color: #363636;
}

table.scroll tbody {
  width: 100%;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

table.scroll thead, .scroll tbody, .scroll tr, .scroll td, .scroll th {
  display: block;
}

table.scroll tbody td, table.scroll thead > tr> th {
  float: left;
}

#poloniex table td {
  font-size: 0.9rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

#poloniex .table{
  margin-bottom: 0px;
}

/*#poloniex .table td:nth-child(8n + 1){
  background-color:#fafafa;
}*/

#poloniex .table td .hand{
  cursor: pointer;
}

.clear {
  clear: both;
}

#poloniex .table tr.trading {
  font-weight: bold;
  color: green;
}

/* Big chart */
.bigChart {
  width: 100%;
  clear: both; }
  .bigChart .chart {
    border: 1px solid #91abac;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box; }
    .bigChart .chart .sprocket {
      position: absolute;
      z-index: 3;
      top: 13px;
      left: 13px;
      color: #43575e; }
      .bigChart .chart .sprocket .tools {
        float: right;
        padding: 2px 3px;
        background-color: #ffffff;
        border: 1px solid #91abac;
        font-size: 14px;
        line-height: 0;
        cursor: pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-clip: padding-box;
        background-color: #ffffff;
        background-image: -webkit-linear-gradient(#ffffff, #e6ecef);
        background-image: linear-gradient(#ffffff, #e6ecef); }
      .bigChart .chart .sprocket:hover {
        color: #0e1214; }
        .bigChart .chart .sprocket:hover .tools {
          border: 1px solid #678889; }
    .bigChart .chart #currentChartRange {
      position: absolute;
      z-index: 3;
      top: 15px;
      left: 40px;
      pointer-events: none;
      display: table-row;
      font-size: 11px;
      line-height: initial;
      background-color: rgba(255, 255, 255, 0.75); }
      .bigChart .chart #currentChartRange .label {
        display: table-cell;
        padding-right: 2px; }
      .bigChart .chart #currentChartRange .info {
        display: table-cell;
        padding-right: 6px;
        text-align: right; }
        .bigChart .chart #currentChartRange .info.low {
          padding-right: 0; }
    .bigChart .chart .toolPanel {
      display: none;
      width: 145px;
      position: absolute;
      z-index: 10;
      top: 10px;
      left: 37px;
      background-color: #ffffff;
      border: 1px solid #91abac;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-clip: padding-box;
      font-size: 11px;
      line-height: 15px;
      -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1); }
      .bigChart .chart .toolPanel input {
        vertical-align: middle;
        margin-bottom: 1px;
        cursor: pointer; }
      .bigChart .chart .toolPanel label {
        cursor: pointer;
        margin-left: 5px; }
      .bigChart .chart .toolPanel .notch {
        position: absolute;
        top: 6px;
        left: -7px;
        font-size: 24px;
        color: #ffffff;
        width: 7px;
        height: 12px;
        background: url(/images/theme_light/notch_left.png); }
      .bigChart .chart .toolPanel ul {
        list-style: none;
        padding: 10px 12px 3px 10px;
        margin: 0;
        float: left; }
        .bigChart .chart .toolPanel ul li {
          float: left;
          width: 100%;
          min-height: 23px; }
          .bigChart .chart .toolPanel ul li .name {
            float: left; }
          .bigChart .chart .toolPanel ul li .chartTextEntry {
            border: 1px solid #cacaca;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            background-clip: padding-box;
            color: #43575e;
            font-size: 10px;
            width: 20px;
            text-align: center;
            margin: 0 0 0 5px;
            float: right;
            padding: 1px 0; }
  .bigChart .chartButtons {
    margin: 10px auto;
    width: 665px;
    font-size: 11px;
    line-height: 14px;
    position: relative; }
    .bigChart .chartButtons .chartLoadingDiv {
      width: 100%;
      height: 32px;
      position: absolute;
      background-color: #ffffff;
      opacity: 0.75;
      display: block; }
    .bigChart .chartButtons .group {
      float: left;
      margin-right: 15px; }
      .bigChart .chartButtons .group div {
        display: inline;
        margin-right: 5px; }

body.ready .bigChart .chartButtons .chartLoadingDiv {
  display: none; }
body.ready #chartLoading {
  display: none; }

#canvasContainer {
  height: 450px;
  width: 100%;
  -webkit-box-shadow: inset 0 5px 20px #f4f7f7;
  -moz-box-shadow: inset 0 5px 20px #f4f7f7;
  box-shadow: inset 0 5px 20px #f4f7f7; }
  #canvasContainer #chart30Canvas {
    height: 450px;
    width: 100%; }

table.mainChartInfoTable {
  width: 100%; }

table.mainChartInfoTable td.description {
  white-space: nowrap; }

table.indicatorInfoTable {
  width: 288px; }

#indicatorInfo {
  display: none;
  position: absolute;
  top: 325px;
  width: 275px;
  margin-top: 0px;
  z-index: 20;
  padding: 3px 6px;
  font-size: 10px;
  line-height: 13px;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box; }

#mainChartInfo {
  display: none;
  position: absolute;
  right: 60px;
  top: 0px;
  width: 440px;
  margin-top: 5px;
  z-index: 20;
  padding: 3px 6px;
  font-size: 10px;
  line-height: 13px;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box; }

#depthChartInfo {
  display: none;
  position: absolute;
  z-index: 20;
  border: 1px solid #91abac;
  padding: 3px 6px;
  background-color: #ffffff;
  font-size: 10px;
  line-height: 13px;
  pointer-events: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }

#chartCrosshairV {
  width: 1px;
  height: 100%;
  top: 0px;
  display: none;
  position: absolute;
  background-color: #91abac;
  pointer-events: none; }

#chartCrosshairH {
  width: 100%;
  height: 1px;
  left: 0px;
  display: none;
  position: absolute;
  background-color: #91abac;
  pointer-events: none; }

#crosshairHInfo {
  position: absolute;
  right: 0px;
  width: 59px;
  height: 12px;
  margin-top: -12px;
  display: none;
  background-color: #ffffff;
  font-size: 10px;
  pointer-events: none; }

#crosshairHInfo {
  -webkit-transition: margin-top 0.2s;
  -moz-transition: margin-top 0.2s;
  transition: margin-top 0.2s; }

#crosshairHInfoTextContainer {
  position: relative;
  margin-top: -2px; }

#mainChartInfo {
  -webkit-transition: margin-left 0.2s;
  -moz-transition: margin-left 0.2s;
  transition: margin-left 0.2s; }

.chartInfoDiv div.row {
  display: table-row; }
  .chartInfoDiv div.row div {
    display: table-cell;
    font-weight: bold;
    border-bottom: 1px solid #e8eeee; }
    .chartInfoDiv div.row div:last-child {
      text-align: right;
      padding-left: 4px; }
  .chartInfoDiv div.row:last-child div {
    border-bottom: none; }

#chartLoading {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  z-index: 10;
  text-align: center;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.75); }
  #chartLoading p {
    margin-top: 130px;
    color: #0b7076; }

#zoomDiv {
  position: relative;
  width: 100%;
  height: 50px;
  border-top: 1px solid #91abac;
  background: #f4f8f8;
  -webkit-box-shadow: inset 0 3px 8px #dfe7e7;
  -moz-box-shadow: inset 0 3px 8px #dfe7e7;
  box-shadow: inset 0 3px 8px #dfe7e7;
  overflow: hidden; }
  #zoomDiv #chartBounds {
    position: absolute;
    top: 0;
    height: 50px;
    width: 500px;
    background: #ffab06;
    opacity: 0.15; }
  #zoomDiv .chartBoundsContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  #zoomDiv #chartBoundsLeft, #zoomDiv #chartBoundsRight {
    position: absolute;
    top: -1px;
    width: 8px;
    height: 52px;
    -webkit-box-shadow: inset 0 0 1px #001e1e;
    -moz-box-shadow: inset 0 0 1px #001e1e;
    box-shadow: inset 0 0 1px #001e1e;
    background-color: #f8fafa;
    cursor: ew-resize; }
  #zoomDiv #previewCanvas {
    width: 1000px;
    height: 50px; }

.marginPositionBox {
  width: 100%;
  float: left;
  margin: 22px 0 0 0; }
  .marginPositionBox .head {
    margin-bottom: 10px; }
    .marginPositionBox .head .name {
      float: left;
      font-size: 22px;
      text-transform: uppercase;
      margin-right: 10px; }
  .marginPositionBox .message {
    display: table;
    box-sizing: border-box;
    background-color: #f3eeee;
    border-color: #6f504d;
    border-style: solid;
    border-width: 1px;
    border-left-width: 8px;
    padding: 5px 10px; }
    .marginPositionBox .message .help {
      display: inline-block; }
    .marginPositionBox .message div {
      display: table-cell;
      vertical-align: middle; }
  .marginPositionBox .message, .marginPositionBox .marginPosition {
    height: 46px;
    width: 100%; }
  .marginPositionBox .marginPosition {
    float: left;
    margin: 10px 0 0 0; }
    .marginPositionBox .marginPosition table.orderBook {
      text-align: center;
      border: 1px solid #6f504d; }
      .marginPositionBox .marginPosition table.orderBook th {
        text-align: center;
        color: #fff;
        background-color: #6f504d;
        border-right: 1px solid #7d615e;
        border-bottom: 1px solid #6f504d; }
        .marginPositionBox .marginPosition table.orderBook th:last-child {
          border-right: 1px solid #6f504d; }
      .marginPositionBox .marginPosition table.orderBook td {
        border-right: 1px solid #e2dcdb;
        border-bottom: 1px double #6f504d;
        background-color: #f3eeee; }
        .marginPositionBox .marginPosition table.orderBook td:last-child {
          border-right: 1px solid #6f504d; }