div#icos
  table.table.table-bordered
    tr
      th Pair Name
      th Resistance
      th Support
      th Current price
      th Action
    tr v-for="ico in ico_list"
      td 
        | {{ ico.pair_name }}
      td.right
        | {{ ico.resistance_price }}
      td.right
        | {{ ico.support_price }}
      td
        | {{ ico.current_price }} 
      td
        button.btn.btn-sm.btn-outline-primary data-toggle="modal" data-target="#editBot" @click="edit_bot(bot)"
          | Edit      

  / = render 'modal_new_bot'    
  / = render 'modal_edit_bot'
  / = render 'modal_order'  

javascript:
  $(function(){
    decimal = 8;
    $("#date_input").val(moment().format("Y/MM/DD"));
  });

  // Vue
  var token = document.querySelector("[name='csrf-token']").content;
  axios.defaults.headers.common['X-CSRF-Token'] = token;
  Vue.prototype.$http = axios;

  var app = new Vue({
    el: '#icos',
    data: {
      ico_list: []
    },
    methods: {
      get_ico_list: function(){
        var self = this;
        this.$http.get('/ajax/trades/get_ico_list', { params: {}} ).then(function (res){
          self.ico_list = res.data;
        });
      },
      init: function(){
        console.log("INIT");
        this.get_ico_list();
      }    
    },
    watch: {
      
    },
    created: function() {
      console.log("created");
    },
    mounted: function() {
      console.log("mounted");
      this.init();
    }
  });



